.MuiAppBar-colorPrimary {
    background-color: #cb944c!important;
    
}

.cursor{
    cursor: pointer;
    color: white;
}

.cursor-logout{
    cursor: pointer;
    color: white;
}


.text-decorator-none{
    text-decoration: none;
}