.box1{
    background-color: #c99d62;
    height: 120px;
}

.box2{
    background-color: #f3cea0;
    height: 60px;
}

.redes{
    font-size: 60px!important;
    color: rgb(251, 248, 248);
}

.textos{
    color: rgb(255, 255, 255);
}